/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }
  
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form p {
    margin-top: 20px;
    color: #888;
  }
  
  .login-form p a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-form p a:hover {
    color: #0056b3;
  }
  
  .btnSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .btnSubmit a {
    cursor: pointer;
  }